# .gitignore
# PowerShell profile backup based on https://blog.erikhorton.com/2024/05/11/using-git-to-manage-dotfiles-and-configs.html

*
!.gitignore
!.github/
!.github/*
!*.ps1
!powershell.config.json

